/* .header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header.png') no-repeat;
    background-size: cover;
    position: relative;
} */
.header {
    height: 80vh; /* Adjust based on your need: 60vh–100vh works well */
    width: 100%;
    margin: 30px auto;
    background: url('header.png') no-repeat center center;
    background-size: cover;
    position: relative;
    /* border-radius: 20px; */
    overflow: hidden;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3); /* darkens the image */
    z-index: 1;
    border-radius: 15px;
  }
  
  .header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    top: 20%;
    left: 6vw;
    color: white;
    animation: fadeIn 3s;
  }
  .header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
  }
  .header-contents p{
    color: white;
    font-size: 1vw;
  }
  .header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vx,13px);
    border-radius: 50px;
  }
  